extends layout

block content
    .jumbotron
        .container
            h1 How My I Help You?
            p Loren Ipsum color sit amet, consider adlips elis kkdfkdf test abc quis lacus.
            a.btn.btn-primary.btn-lg(href='#') learn more &raquo;

    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                a.btn.btn-default(href='#') View Details

            .col-md-4
                h2 Services
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                a.btn.btn-default(href='#') View Details

            .col-md-4
                h2 Get In Touch
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                a.btn.btn-default(href='#') View Details

